@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

* , html , body{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Rubik 80s Fade", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

/* section -1 */

.title-1{
    color: white;
    width: 50%;
    padding: 10% 10%;
}
.title-1 h1{
    font-size: 200%;
}
.title-1 p{
    font-size: 600%;
    margin-top: 3%;
}
.title-1 h6{
    font-size: 500%;
    margin-top: 3%;
}
.image-1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-top: -45%;
    padding: 5% 10%;
}
.image-1 img{
    width: 30%;
    height: 30%;
}
.image-1 button{
    width: 30%;
    height: 40px;
    font-family: "Rubik 80s Fade", serif;
    font-weight: 800;
    background-color: black;
    color: white;
    border: 1px white solid;
    border-radius: 50px;
    margin-top: 2%;
    cursor: pointer;
}
.image-1 button:hover{
    background-color: white;
    color: black;
}

/* section -2 */

.title-2{
    display: flex;
    justify-content: center;
    gap: 35%;
    color: white;
    font-size: 200%;
    margin-top: 10%;
}
.title-2 img{
    width: 30%;
    height: 30%;
}
.desc-2{
    font-size: 400%;
    color: white;
    font-weight: 550;
    margin-top: 5%;
    padding: 5% 10%;
}
.small-desc-2{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 5%;
}
.card-2{
    width: 30%;
    height: 100px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-2 p{
    color: white;
    font-weight: 700;
    font-size: 150%;
}
.card-2 button{
    width: 120%;
    height: 40px;
    font-family: "Rubik 80s Fade", serif;
    font-weight: 1000;
    font-size: 80%;
}

/* section -3 */

video{
    width: 50%;
    height: 50%;
}
.title-3{
    font-size: 150%;
    color: white;
    padding: 10% 10%;
}
.desc-3{
    color: white;
    font-weight: 700;
    font-size: 120%;
    width: 40%;
    position: absolute;
    left: 55%;
    margin-top: -20%;
}

/* section-  4*/

.title-4{
    padding: 10% 10%;
}
.desc-4{
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: white;
    margin-top: -15%;
}

/*--------------------------------------------------*/

@media(max-width:765px){
    .title-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title-1 h1{
        font-size: 180%;
    }
    .title-1 p{
        font-size: 400%;
    }
    .title-1 h6{
        font-size: 350%;
    }
    .image-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .image-1 img{
        width: 50%;
        width: 50%;
    }
    .image-1 button{
        width: 60%;
        margin-top: 10%;
    }

    /* section -2 */

    .title-2{
        gap: 5%;
        margin-top: 40%;
    }
    .small-desc-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card-2{
        width: 80%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .card-2 p{
        display: flex;
        justify-content: center;
    }

    /* section -3 */

    .section-3{
        margin-bottom: 150%;
    }
    .title-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
    }
    .desc-3{
        font-size: 120%;
        width: 80%;
        position: absolute;
        left: 0;
        margin-left: 10%;
        text-align: center;
        margin-top: 5%;
    }
    /* section -4 */

    video{
        width: 80%;
        height: 80%;
    }
    .title-4{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .desc-4{
        font-size: 120%;
        display: flex;
        justify-content: center;
        padding: 10% 10%;
    }
}
@media(min-width:765px) and (max-width:1200px){
    .card-2 p{
        display: flex;
        justify-content: center;
    }
    .section-4{
        padding: 50% 0;
    }
    .desc-4{
        padding: 10% 10%;
        text-align: center;
    }
}
